.imageBox {
    width          : 100%;
    height         : fit-content;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.accountImg {
    width        : 40%;
    box-shadow   : 0 0.2vh 0.6vh 0.2vh #000;
    border-radius: 50%;
    text-align   : center;
    cursor       : pointer;
}

.accountImg:hover {
    box-shadow: 0 0.2vh 0.5vh 0.1vh rgb(118, 139, 160);
}

.imgForm .img {
    visibility: hidden;
}